
<style type="text/css">
#rec_wraper{
color: #222;
background: #fff;
font-family: Verdana;

}
.rec_header{
border-bottom: thin #efefef solid;
}

.rec_width{
margin: 2px auto;
width: 400px;
}
.rec_width p{
font-size: 12px;
padding: 0 10px;
}
.rec_center{
	text-align: center;
}
footer{
background-color: #f5f5f5;
border-top: 1px solid #e5e5e5;
padding-bottom: 5px;
}

</style>



<body id="rec_wraper">
	

	<header class="rec_header rec_width">

		<h3>rec Logo</h3>
		
	</header><!-- /header -->

	<section class="rec_width">
		
	<p>Dear xyz Zane,</p>
	<h4 class="rec_center">Thank you</h4>
	<p>you have successfully aplyed for the <strong>UX devoloper</strong> position at OPENARC SCHOOL .</p>
	<p>If you have select as a candidate for the Imterview we will inform you via the phone (0775565552) & zane@xyz.com .</p>
	<p>&nbsp;</p>
	</section>

	<footer class="rec_width">
		<p>Best Regards.</p>
		<p>OPENARC Team.</p>
	</footer>


</body>



