//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}

// to get the full use of bolcklevel comment
#PostingJobs .form-actions{
  padding-left: 20px;
}

// control the inner lables and inputs of the form-control
.control-group .controls .control-group .control-label{
  width: 90px
}
// control the inner lables and inputs of the form-control
.control-group .controls .control-group .controls{

margin-left: 120px;
}

#tabbableContainer .dashbordNavigation{
  .active a{
    margin-right: -1px;
    border-right-color: #fff;
  .box-shadow(-2px 1px 13px rgba(204, 204, 204, 0.65));
  #gradient > .horizontal(@startColor: rgba(204, 204, 204, 0.31), @endColor: (rgba(0, 0, 0, 0)));

    p{
        text-align: center;
        margin-bottom: 0;
        img{
          width: 24px;
        }
      }
      div{
        text-align: center;
      }
  }
}



//linear-gradient(to right, rgba(204, 204, 204, 0.31), rgba(0, 0, 0, 0))

.dashbordNavigation{
  position: absolute;
}

// to alocate space to the main navigation
.reportsContainer, .listApplicants{
  margin-left: 14%;
}

// alter the applying Position section

.applyingPosition{
	.radio small{
		color: #999;
	}
}

.collapsTabs{
  display: none;
}

.form-actions{
  border: 0;
  background: none;
}



@media (max-width: 979px)
{
  .dashbordNavigation{
    position: relative;
  }

  .reportsContainer, .listApplicants{
    margin-left: 0;
  }
  #tabbableContainer .dashbordNavigation{
    .active a{
    margin-bottom: -1px;
    border-bottom-color: #fff;
    margin-right: 0;
    border-right-color:#ddd;;

    #gradient > .vertical(@startColor: rgba(204, 204, 204, 0.31), @endColor: (rgba(0, 0, 0, 0)));
    }
    li > a{
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

@media (max-width: 678px)
{
  .collapsTabsHids{
    display: none;
  }

  .collapsTabs{
    display: block;
  }

}